.css-selector {
    background: linear-gradient(228deg, #42275a, #1b5864, #516395, #185a9d, #19547b, #00d893);
    background-size: 1200% 1200%;

    -webkit-animation: Coolanimation 15s ease infinite;
    -moz-animation: Coolanimation 15s ease infinite;
    animation: Coolanimation 15s ease infinite;
}

@-webkit-keyframes Coolanimation {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@-moz-keyframes Coolanimation {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}
@keyframes Coolanimation {
    0%{background-position:0% 19%}
    50%{background-position:100% 82%}
    100%{background-position:0% 19%}
}